body {
    margin: 0;
    font-family: "Roboto", sans-serif; /* Menggunakan font Roboto */
    background-color: #f8f9fa;
    color: #e8e8e8; /* Warna teks hitam */
    justify-content: center;
    height: 100vh;
    font-size: 1vw;
  }

  .body-container {
    max-width: 100%;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-image: url("desktop-wallpaper-dark-tech-black-technology.jpg");
    background-size: 100% auto; /* Mengatur lebar 100% dan tinggi otomatis */
    background-repeat: no-repeat;
  }
  .main-container {
      width: 100%;
      justify-content: left;
      padding: 10%; /* Ubah sesuai kebutuhan Anda */
      box-sizing: border-box; /* Menyertakan padding dalam total lebar elemen */
    }
  .main-container-head {
    
    font-size: 4.5vw;
    font-weight: bold;
    max-width: 50%;
  }
  .main-container-sub-head {
    
    font-size: 2vw;
    font-weight: normal;
    max-width: 40%;
  }
  .main-container-started-button {
    margin-top: 1%;
    display: inline-block;
    padding: 1% 2%;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    color: #fff;
    font-size: 16px;
    background-color: #720076;
    border: 1px solid #720076;
  }
  
  @keyframes slideInFromBottom {
      from {
        opacity: 0;
        transform: translateY(100%);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .main-container-head,
    .main-container-sub-head,
    .main-container-started-button {
      animation: slideInFromBottom 1.5s ease forwards;
    }