.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff6347; 
}


.header {
    text-align: center;
    margin: 20px 0;
}

.header img {
    max-width: 100%;
    height: auto;
}


.content {
    padding: 20px;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: 0 auto;
}