body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000; 
    width: 95%;
    margin-top: -15px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: all 0.3s; 
    padding: 5px 10px; 
    border-radius: 10px; 
}

.nav-links a:hover {
    color: #000000; 
    background-color: rgba(255, 255, 255, 0.839); 
    transform: scale(2); 
 
}


.header {
    text-align: center;
    margin: 20px 0;
}

.header img {
    max-width: 70%;
    height: 200px;
    bo
}


.content {
    padding: 10px;
    background-color: #fffcfc;
    max-width: 800px;
    margin: 0 auto;
    
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 10px; 
}

footer { 
    text-align: center;
    padding: 20px;  
    background-color: #000000;
    color: white;
}


i a { 
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.header img { 
    max-width: 60%;
    height: 40%;
}


.content h3 { 
   
    margin: 10px 0;
}